*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 13px;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--ratio: 0.75;
	--grid-item-height: 32vw;
	--grid-item-width: calc(var(--grid-item-height) * var(--ratio));
	--thumb-height: 5vw;
	--thumb-width: calc(var(--thumb-height) * var(--ratio));
}

.oh {
	overflow: hidden !important;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1);
	}
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

main {
	overflow: hidden;
	position: relative;
}

main::after {
	content: '';
	z-index: 1000;
	pointer-events: none;
	background: linear-gradient(to bottom, var(--color-bg), transparent);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vh;
}

.columns {
	width: 100%;
	position: relative;
	padding: 0 3rem;
	display: flex;
	justify-content: center;

    .column-wrap {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding: 5vh 0 15vh;

        .column {
            position: relative;
            display: block;
            will-change: transform;

            .column__item {
                margin: 0;
                position: relative;
                z-index: 1;

                .column__item-imgwrap {
                    width: var(--grid-item-width);
                    height: var(--grid-item-height);
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    margin: 8vh 1vw 0;

                    .column__item-img {
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-position: 50% 20%;
                        backface-visibility: hidden;
                        filter: saturate(40%) brightness(110%);
                    }
                }
                
                .column__item-caption {
                    border-top: solid $primaryTextColor 2px;
                    text-transform: uppercase;
                    padding-top: 0.5rem;
                    margin: 1rem 1vw 0;
                }
            }
        }

        &.column-wrap--height {
            height: 100vh;
            flex-direction: column-reverse;

            .column {
                flex-direction: column-reverse;
                display: flex;
            }
        }
    }
}

@media screen and (min-width: 53em) {
	:root {
		font-size: 16px;
	}

	body {
		--ratio: 0.95;
		--grid-item-height: 25vw;
		--thumb-height: 7vh;
	}

	main::after {
		display: none;
	}

	.column__item-imgwrap {
		margin: 5vw 2.75vw 0;
	}

	.column__item-caption {
		display: flex;
		justify-content: space-between;
	}
}