body{
    margin: 0;
    padding: 0;
    background: $backgroundColor;
    color: $primaryTextColor;
    font-family: $fontFamily, $optionalFont !important;
}

.title{
    font-family: $titleFamily !important;
    text-transform: none !important;

    &::before{
        content: '';
        display: inline-block;
        height: 3px;
        background: $primaryColor;
        width: 40px;
        margin-right: -15px;
        vertical-align: middle;
    }
}

.paragraph{
    color: $secondaryTextColor;
}

.highlight{
    color: $primaryColor;
}

.text-right {
    text-align: right;
}

.bold{
    font-weight: bold !important;
}

.list-container{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    padding: 20px 15px;

    .list-item{
        display: flex;

        &.align-right{
            justify-content: right;
        }
    }
}

a{
    text-decoration: none;
    color: $primaryColor;

    &:hover{
        color: $secondaryColor;
    }
}