/* Colors */
$primaryColor: #660200;
$secondaryColor: #4c5c68;
$primaryTextColor: #FAFAFA;
$secondaryTextColor: #7e7f83;
$backgroundColor: #0d0d0d;

/* Navigation */
$naviHeightDesktop: 70px;
$naviHeightMobile: 35px;

/* SRP */
/*$ratio: 0.75;
$grid-item-height: 32vw;
$grid-item-width: calc($grid-item-height * $ratio);
$thumb-height: 5vw;
$thumb-width: calc($thumb-height * $ratio);*/

/* Fonts */
$fontFamily: -apple-system,BlinkMacSystemFont,Segoe UI;
$fontFamilyItalic: 'Montserrat-Italic';
$titleFamily: 'Cormorant Infant';
$optionalFont: Helvetica, 'sans-serif';

@font-face {
    font-family: $titleFamily;
    src: local($titleFamily),
        url("../fonts/Cormorant_Infant/CormorantInfant-Light.ttf") format("truetype");
}

@font-face {
    font-family: $fontFamily;
    src: local($fontFamily),
        url("../fonts/Montserrat/Montserrat.ttf") format("truetype");
}

@font-face {
    font-family: $fontFamilyItalic;
    src: local($fontFamilyItalic),
        url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
}